body{
    max-width: 800px;
    margin:auto;
    background-color: rgb(189, 189, 238);
}

section{
    background-color: rgb(153, 153, 222);
    padding:30px;
    margin-bottom:10px;
    border-radius:20px
}


.fotografias img{
    height: 150px;
    width: 200px;
    border-radius: 20px;
}

.fotografias{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap:10px;
}

iframe{
    border-radius: 20px;
}

.poesia p:nth-child(even):hover{

    color: purple;

}
.poesia p:nth-child(odd):hover{
    color: rgb(221, 4, 163);

}

.navegacao{
    display: flex;
    justify-content: center;
    align-items: center;
}
td,th{
    padding: 5px;
    text-align: center;

}


