*{
    margin: 0px;
    padding:0px;
}

main{

    padding-left: 100px;
    padding-right: 100px;
}
/*  BARRA DE NAVEGAÇÃO */
header{
    height:60px;
    background-color:blueviolet;
    display: flex;
    justify-content: space-between;
    top:0px;
    position:sticky;

}

header nav{
    display:flex;
    justify-content:flex-end;
    margin: 30px;  
}

header h1{
    display:flex;
    align-items: center;
    margin:10px;
    color:white;
}

nav ul{
    display:flex;
    align-items: center;
    list-style: none;
    gap:10px;
  
}

li a{
    text-decoration: none;
    color:white;
}


main h2{
    text-align: center;
    margin-top: 60px;
}

/*PRODUTOS*/

#produtos{
    padding: 50px;
    background-color:rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    

}

#produtos article{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: seagreen 5px solid;
   
}

article h4{
     text-align: center;
     margin-bottom: 10px;
     font-size: 25px;
}


article img{
       width: 100%;
}

article h5 {

    text-align: center;
    font-size: 16px; 
    margin-bottom: 15px;
}

article p{

    background-color: beige;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

article button{
    border-radius: 8px;
}


 

#cesto{
    background-color: rgb(255, 255, 255);
}





/*CESTO*/

#cesto{

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
   
}

#cesto article{

 border: seagreen 5px solid;
  width: 100px;
  

}





 /*criar uma funçao para defenir o article e colocar la as informações dos produtos e com ajuda do grid formatar os articles */


